---
import Header from './Header.astro';
import type { LayoutProps } from '../types'

type Props = LayoutProps

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Header {title} {description} />
	<body>
		<slot />
	</body>
</html>
